<link rel="stylesheet" href="{{ '/assets/css/fontawesome.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/academicons.min.css' | relative_url }}">
<link rel="icon" type="image/png" href="{{ '/images/site-icon.png' | relative_url }}">
{% if page.translation_en %}<link rel="alternate" hreflang="en" href="{{ page.translation_en | absolute_url }}"><link rel="alternate" hreflang="ja" href="{{ page.translation_ja | absolute_url }}">{% endif %}
<script defer src="{{ '/assets/js/portfolio.js' | relative_url }}"></script>
